# /public/images
/obsolete
info.txt

# git init
# git add README.md
# git commit -m "irst commit"
# git branch -M main
# git remote add origin https://github.com/Ajith369369/weather-app.git
# git push -u origin main