/public/images
/public/scripts/app.js
/public/scripts/app-3.js
/public/styles/style.css
/obsolete
index.html
info.txt

# git init
# git add README.md
# git commit -m "irst commit"
# git branch -M main
# git remote add origin https://github.com/Ajith369369/weather-app.git
# git push -u origin main